.App {
  text-align: center;
}

.center{
  display:flex;
  justify-content: center;
}

.flex{
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items: center;
}

.flex{ 
  width:25;
}
.particles{
position: fixed;
top: 0;
right:0;
bottom:0;
left:0;
z-index: -1;
}